
/* import fonts globally */

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
  font-family: "poppins-black";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-family: "poppins-blackitalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  font-family: "poppins-bold";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-family: "poppins-bolditalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-family: "poppins-extrabold";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-family: "poppins-extrabolditalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-family: "poppins-extralight";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-family: "poppins-extralightitalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Italic.ttf");
  font-family: "poppins-italic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
  font-family: "poppins-light";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-LightItalic.ttf");
  font-family: "poppins-lightitalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-family: "poppins-medium";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-MediumItalic.ttf");
  font-family: "poppins-mediumitalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  font-family: "poppins-regular";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: "poppins-semibold";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-family: "poppins-semibolditalic";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
  font-family: "poppins-thin";
}

@font-face {
  src: url("./assets/fonts/Poppins/Poppins-ThinItalic.ttf");
  font-family: "poppins-thinitalic";
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
